<div class="job-table">

    <nz-table #basicTable [nzData]="jobs">
        <thead>
          <tr>
            <th>Company</th>
            <th>Name</th>
            <th>Salary</th>
            <th>Tags</th>
            <th>Created</th>
            <th>Action</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let job of basicTable.data">
            <td>{{job.company}}</td>
            <td>{{job.title}}</td>
            <td>{{job.salary}}</td>
            <td>{{job.title}}</td>
            <td>
              <a target="_blank" href={{job.url}}>View</a>
            </td>
          </tr>
        </tbody>
      </nz-table>
</div>

