<div class="jobs-table">
  <div class="table">
    <table>
      <thead class="thead-light">
        <tr>
          <th>Company</th>
          <th>Salary</th>
          <th></th>
          <th>Tags</th>
          <th>Created</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let job of jobs">
          <td>
            {{ job.company }}
            <img width="100" height="100" [src]="thumbnail" />
            {{job.company}}
          </td>
          <td>{{ job.title }}</td>
          <td>{{ job.salary }}</td>
          <td></td>
          <td>{{ job.created |  date:"medium" }}</td>
          <td>
            <a target="_blank" href="{{ job.url }}">View</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
